[paths]
source =
    src
    */site-packages

[run]
branch = true
source =
    py30303_disc
parallel = true

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    src/py30303_disc/__main__.py
    src/py30303_disc/d30303_discover.py
exclude_lines = 
    if __name__ == .__main__.:
